# input() function

In [3]:
name = input("What is your Name:")
name

What is your Name:rakes

'rakes'

In [1]:
a = int(input("First Number :"))

b = int(input("Second Number:"))
sum1 =a+b

First Number :44
Second Number:22

In [4]:
print(f"The sum of the {a} and {b} : {sum1}")

The sum of the 44 and 22 : 66

In [3]:
print(a-b)
print(a+b)

22
66

In [7]:
print(f"{a}+{b}={a }")

44+22=66

In [5]:
print(a/b)

2.0

In [6]:
int(a/b)

2

# LOOP

In [8]:
numbers = [22,32,12,43,53,33,3]

In [9]:
for number in numbers:
    print(number)

22
32
12
43
53
33
3

In [12]:
names =["Hari", "Ram", "Shyam","Sabi"]

In [13]:
for name in names:
    print(name)

Hari
Ram
Shyam
Sabi

In [15]:
#indentation main important

for i in range:
    for i in j:
        print(i)

TypeError: 'type' object is not iterable

In [16]:
for name in ["Hari","Ram",["shyam"]]:
    print(name)

Hari
Ram
['shyam']

In [17]:
# left inclusive , right exclusive

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
for i in range(1,11):
    print(f"{i} Hello ")

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [22]:
for name in names:
    print(f"Name :{name}")
    print(name)
    print(f"")

Name :Hari
Hari

Name :Ram
Ram

Name :Shyam
Shyam

Name :Sabi
Sabi

In [31]:
# range function (0-20) 
# print(times 4)

for number in range(1,21):
    print(f"4*{number}={number*4}")

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
4*11=44
4*12=48
4*13=52
4*14=56
4*15=60
4*16=64
4*17=68
4*18=72
4*19=76
4*20=80

In [32]:
# Iterating over dictionary

In [44]:
fruits = {"Apple":1, "Banana":2, "Gava":3, "lem":4}

In [46]:
for fruit in fruits:
    print(fruit)

Apple
Banana
Gava
lem

In [36]:
for fruit in fruits.values():
    print(fruit)

1
2
3

In [47]:
#unpacking

In [48]:
a = [('apple', 1, 23), ('banana', 1, 23), ('guava', 10, 23), ('mango', 5, 23)]

for i, j, k in a:
    print(i, j, k)

apple 1 23
banana 1 23
guava 10 23
mango 5 23

In [ ]:
#iterate i set and tuple

In [51]:
a = [('apple', 1, 23), ('banana', 1, 23), ('guava', 10, 23), ('mango', 5, 23)]

for i, j , k in a:
    print(i,j,k)

apple 1 23
banana 1 23
guava 10 23
mango 5 23